<%- include("header.ejs") %>
<body>
    <h1>Todeledo</h1>
    <h4>Create your own todo list</h4>
    
        <form action="/createitem" method="post">
            <input placeholder="Add a thing to do!" type="text" name="text" id="todo">
            <input placeholder="When should it be done?" type="date" name="done" id="done">
            <button class="far fa-list-alt" type="submit" id="addToList"></button>
        </form>
        <div id="main">
            <% items.forEach( (item)=>{ %>
            <div class="box" id="one"> <%= item.text %> |
             <%= item.done %> <i class="far fa-check-circle"></i>
            </div>
            <a  class="fas fa-edit" id="three" href="/update/<%= item._id%>"></a>
            <a class="far fa-calendar-times" id="four" href="/delete/<%= item._id%>"</a></a> 
        <%}) %>
    </div>
    <!-- pagination  -->
    <a href="/todo/?page=1">1</a>
    <a href="/todo/?page=2">2</a>
    <div id="sort">
        Sort by date
        <a href="/todo/?sort=1"><i class="far fa-arrow-alt-circle-up"></i></a>
        <a href="/todo/?sort=-1"><i class="far fa-arrow-alt-circle-down"></i></a>
    </div>
</body>
</html>